/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-10-01, 17:43:21
    Author     : Kamil Ryczek <kamil.ryczek@artefakt.pl>
*/
html {
  font-size: 14px; }

@media (min-width: 768px) {
  html {
    font-size: 16px; } }
body {
  background-color: #E6EBE0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #3F413E;
  color: #6b757d; }

@media (min-width: 1400px) {
  .container {
    max-width: 1340px; } }
@media (min-width: 1600px) {
  .container {
    max-width: 1540px; } }
.c-pointer {
  cursor: pointer !important; }

.flex-grow-1 {
  flex-grow: 1 !important; }

.btn-search-submit i.material-icons {
  font-size: 3rem;
  color: #AAAEA6; }

a {
  color: #5CA4A9; }

a {
  color: #535f44; }

.lead.subtitle {
  font-size: 1rem !important; }

.pricing-header {
  max-width: 700px; }

.card-deck .card {
  min-width: 220px; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto Slab', serif;
  color: #545652; }

.logo {
  max-width: 70px; }

.bg-light-green {
  background-color: #B6D094; }

.bg-dark-green {
  background-color: #535f44; }

.bg-light-yellow {
  background-color: #F4F1BB; }

.bg-light-red {
  background-color: #ed6a5a; }

.custom-file-control, .form-control, input::placeholder {
  line-height: 4; }

.search-large {
  line-height: 4; }
  .search-large::-webkit-input-placeholder {
    font-size: 3rem;
    font-weight: 100; }
  .search-large::-moz-placeholder {
    font-size: 3rem;
    font-weight: 100; }
  .search-large:-ms-input-placeholder {
    font-size: 3rem;
    font-weight: 100; }
  .search-large:-moz-placeholder {
    font-size: 3rem;
    font-weight: 100; }

.border-top {
  border-top: 1px solid #e5e5e5; }

.border-bottom {
  border-bottom: 1px solid #e5e5e5; }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1); }
  .box-shadow:hover {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2); }

.alphabeth-list button {
  font-size: 1.2rem;
  padding: .5rem 1rem;
  font-weight: 300;
  color: #6b757d;
  box-shadow: none; }

fieldset.border-top {
  border-color: #aaaea6 !important; }

.pharmacies-list > .row {
  border-left: 3px solid transparent; }
  .pharmacies-list > .row.open {
    border-color: #94c93c; }
  .pharmacies-list > .row .state-text {
    background-color: #94c93c;
    color: #FFFFFF;
    padding: 5px 15px 5px 15px; }
  .pharmacies-list > .row span.badge.hours {
    color: #525f44 !important; }
  .pharmacies-list > .row.closed span.badge.hours {
    box-shadow: none !important;
    color: #666 !important;
    font-weight: normal; }

/*# sourceMappingURL=olekach.css.map */
