/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-10-01, 17:43:21
    Author     : Kamil Ryczek <kamil.ryczek@artefakt.pl>
*/
html {
  font-size: 14px; }

@media (min-width: 768px) {
  html {
    font-size: 16px; } }
body {
  background-color: #E6EBE0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #3F413E; }
  body.fixed {
    padding-top: 100px; }
    body.fixed .navbar-wrapper {
      position: fixed;
      box-shadow: 0px 0px 10px #888; }

@media (min-width: 1400px) {
  .container {
    max-width: 1340px; } }
@media (min-width: 1600px) {
  .container {
    max-width: 1540px; } }
.c-pointer {
  cursor: pointer !important; }

.flex-grow-1 {
  flex-grow: 1 !important; }

.btn-search-submit i.material-icons {
  font-size: 3rem;
  color: #AAAEA6; }

a {
  color: #5CA4A9; }

a {
  color: #535f44; }

a:hover {
  color: #ed6a5a; }

.lead.subtitle {
  font-size: 1rem !important; }

.navbar-wrapper {
  background-color: #E6EBE0;
  width: 100%;
  z-index: 900;
  top: 0px; }

.search-section {
  max-width: 700px; }

.card-deck .card {
  min-width: 220px; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto Slab', serif;
  color: #545652; }

.logo {
  max-width: 50px; }

@media (min-width: 768px) {
  .logo {
    max-width: 70px; } }
.bg-light-green {
  background-color: #B6D094; }

.bg-dark-green {
  background-color: #535f44; }

.bg-light-yellow {
  background-color: #F4F1BB; }

.bg-light-red {
  background-color: #ed6a5a; }

.bg-light-silver {
  background-color: #f1f1f1; }

.text-dark-green {
  color: #535f44; }

.text-dark-silver {
  color: #a2a2a2; }

.mobile-menu-toggle {
  font-size: 3em; }

.custom-file-control, .form-control, input::placeholder {
  line-height: 4; }

.search-large {
  line-height: 4; }
  .search-large::-webkit-input-placeholder {
    font-size: 3rem;
    font-weight: 100; }
  .search-large::-moz-placeholder {
    font-size: 3rem;
    font-weight: 100; }
  .search-large:-ms-input-placeholder {
    font-size: 3rem;
    font-weight: 100; }
  .search-large:-moz-placeholder {
    font-size: 3rem;
    font-weight: 100; }

.border-top {
  border-top: 1px solid #e5e5e5; }

.border-bottom {
  border-bottom: 1px solid #e5e5e5; }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1); }
  .box-shadow:hover {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2); }

.alphabeth-list button {
  font-size: 1.2rem;
  padding: .5rem 1rem;
  font-weight: 300;
  color: #6b757d;
  box-shadow: none; }

fieldset.border-top {
  border-color: #aaaea6 !important; }

.pharmacies-list > .row {
  border-left: 3px solid transparent; }
  .pharmacies-list > .row.open {
    border-color: #94c93c; }
  .pharmacies-list > .row .state-text {
    background-color: #94c93c;
    color: #FFFFFF;
    padding: 5px 15px 5px 10px; }
  .pharmacies-list > .row span.badge.hours {
    color: #525f44 !important;
    border-bottom: 2px solid #94c93c !important;
    border-radius: 0 !important;
    box-shadow: none !important; }
  .pharmacies-list > .row.closed span.badge.hours {
    box-shadow: none !important;
    color: #666 !important;
    font-weight: normal; }

.breadcrumb-item + .breadcrumb-item::before {
  font-family: 'Material Icons';
  content: "chevron_right"; }

.nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap; }

ul.page-numbers {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  margin: 0px 1rem; }
  ul.page-numbers span.page-numbers,
  ul.page-numbers a.page-numbers {
    transition: all .3s linear;
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: .9rem;
    color: #212529;
    padding: .75rem 1.5rem;
    line-height: 1.5;
    position: relative;
    display: block;
    margin-left: -1px; }
  ul.page-numbers span.page-numbers.current {
    background-color: #f2f2f2;
    border-bottom: 5px solid #B6D094; }
  ul.page-numbers a.next.page-numbers,
  ul.page-numbers a.prev.page-numbers {
    display: none; }

@media (min-width: 768px) {
  ul.page-numbers a.next.page-numbers,
  ul.page-numbers a.prev.page-numbers {
    display: block; } }
ul.list-inline {
  line-height: 2; }

.widget .nav-tabs li a {
  border-radius: 0; }
  .widget .nav-tabs li a.active {
    background-color: #f2f2f2;
    outline: none; }

.cookie-toast, .location-toast {
  max-width: 340px;
  right: 30px;
  bottom: 30px;
  background-color: #FFFFFF;
  border-radius: 0px; }

.toast-container {
  top: 0;
  z-index: 100;
}
/*.location-toast {*/
/*  top: 23px;*/
/*  bottom: auto;*/
/*  z-index: -1; }*/
/*  .location-toast.show {*/
/*    z-index: 1; }*/

.cities-in-state-widget ul + span {
  display: none; }
.cities-in-state-widget ul.roll-up + span {
  display: block; }
.cities-in-state-widget ul.roll-up {
  height: 300px;
  overflow: hidden;
  position: relative; }
  .cities-in-state-widget ul.roll-up:after {
    position: absolute;
    width: 100%;
    height: 80px;
    content: " ";
    bottom: 0px;
    left: 0px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    /* IE6-9 */ }

.about-author-wrapper .about-label {
  top: -28px; }

.meks_ess {
  margin-top: 3em !important;
  clear: both; }

.review-wrapper {
  border: 0px !important;
  margin-top: 2em; }
  .review-wrapper .user-review-area {
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    justify-content: space-between; }
    .review-wrapper .user-review-area .review-star {
      float: none;
      margin: inherit !important; }
    .review-wrapper .user-review-area .user-total-wrapper .user-review-title {
      font-weight: 300; }
    .review-wrapper .user-review-area .user-total-wrapper .wp-review-user-rating-total {
      font-size: 2em;
      margin-left: .5em;
      font-weight: 400;
      color: #ffffff;
      background: #525f44;
      width: 40px;
      display: inline-block;
      text-align: center;
      border-radius: 50px;
      line-height: 1.25; }

div#ez-toc-container {
  -webkit-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 10px 20px 15px;
  margin-bottom: 3em; }
  div#ez-toc-container ul li {
    font-size: 100%; }
  div#ez-toc-container p.ez-toc-title {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: .5em;
    display: block; }

@media (max-width: 768px) {
  .localizeme {
    padding: 0px !important;
    margin: 0px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    color: #535f44 !important; } }
.synonymous-text-widget,
.synonymous-text-widget {
  font-size: 12px;
  text-align: justify; }
  .synonymous-text-widget h1, .synonymous-text-widget h2, .synonymous-text-widget h3, .synonymous-text-widget h4, .synonymous-text-widget h5,
  .synonymous-text-widget h1,
  .synonymous-text-widget h2,
  .synonymous-text-widget h3,
  .synonymous-text-widget h4,
  .synonymous-text-widget h5 {
    font-size: 13px; }

.justify-content-center .dropdown-menu {
  left: 50% !important;
  transform: translate3d(-50%, 47px, 0px) !important; }

.cn-button.bootstrap {
  background-image: none !important;
  background-color: #535f44 !important;
  border-width: 0px; }

/*# sourceMappingURL=olekach.css.map */
